# IDE Settings
.vscode/

# Folders
vendor/

# Files
cmd/goversioninfo/goversioninfo
cmd/goversioninfo/goversioninfo.exe
resource.syso

# Examples
testdata/example1/example1
testdata/example1/example1.exe

# OS Files
.DS_Store
thumbs.db